<?xml version="1.0" encoding="utf-8"?>
<phpunit backupGlobals="false"
         colors="true"
         bootstrap="./tests/CrEOF/Tests/PhpUuidGenerator/TestInit.php"
        >

    <testsuites>
        <testsuite>
            <directory>./tests/CrEOF/Tests/PhpUuidGenerator</directory>
        </testsuite>
    </testsuites>
</phpunit>
